* {
  font-family: "Times New Roman", Times, serif;
}

p {
  margin: 5px;
  padding: 5px;
}

.color-primary {
  background-color: #c1a7b3;
}

.color-secondary {
  background-color: #8acfa97d;
}

.color-pink {
  background-color: #a55265;
}

.text-color-pink {
  color: #a55265;
}

.text-color-green {
  color: #335449;
}

.column-image {
  max-height: 75px;
  margin: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
}
