:root {
  --Primary_Color: #ffb6c1;
  --Secondary_Color: #FFE7E7;
  --Primary_Color_Dark: #9FBB73;
  --Secondary_Color_Dark: #335449;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.color-primary {
  background-color: var(--Primary_Color);
}

.color-secondary {
  background-color: var(--Secondary_Color);
}

.color-primary-dark {
  background-color: var(--Primary_Color_Dark);
}

.text-color-primary-dark {
  color: var(--Primary_Color_Dark);
}

.text-color-secondary-dark {
  color: var(--Secondary_Color_Dark);
}

.border-30-primary-dark {
  border: 30px solid var(--Primary_Color_Dark);
}

.border-2-primary {
  border: 2px solid var(--Primary_Color);
}

.custom-button:hover {
  background-color: var(--Primary_Color);
}

.customtiparea .customtiptext {
  opacity: 0;
  transition: opacity 0.3s;
}

.customtiparea:hover .customtiptext {
  opacity: 1;
}
