*{
    background-color: rgb(239, 239, 239);
    color: rgb(242, 138, 138);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}


#ingredientInput{
    background-color: rgb(160, 209, 161);
    color: black;
    font-size: medium;
}

::placeholder {
    color: rgb(24, 2, 2);
    opacity: 1; /* Firefox */
  }
  h1{
    font-size: xx-large;
  }

  h2{
    font-size: x-large
  }